-- Parquet Auto Ingestion
-- Create Logins for different Resource Classes

-- USE [master]
CREATE LOGIN Userstaticrc10 WITH PASSWORD = 'REPLACE_PASSWORD'
GO
CREATE LOGIN Userstaticrc20 WITH PASSWORD = 'REPLACE_PASSWORD'
GO
CREATE LOGIN Userstaticrc30 WITH PASSWORD = 'REPLACE_PASSWORD'
GO
CREATE LOGIN Userstaticrc40 WITH PASSWORD = 'REPLACE_PASSWORD'
GO
CREATE LOGIN Userstaticrc50 WITH PASSWORD = 'REPLACE_PASSWORD'
GO
CREATE LOGIN Userstaticrc60 WITH PASSWORD = 'REPLACE_PASSWORD'
GO
CREATE LOGIN Userstaticrc70 WITH PASSWORD = 'REPLACE_PASSWORD'
GO
CREATE LOGIN Userstaticrc80 WITH PASSWORD = 'REPLACE_PASSWORD'
GO