{
	"name": "DS_Synapse_Managed_Identity",
	"properties": {
		"linkedServiceName": {
			"referenceName": "LS_Synapse_Managed_Identity",
			"type": "LinkedServiceReference",
			"parameters": {
				"ServerName": {
					"value": "@dataset().ServerName",
					"type": "Expression"
				},
				"DatabaseName": {
					"value": "@dataset().DatabaseName",
					"type": "Expression"
				}
			}
		},
		"parameters": {
			"ServerName": {
				"type": "string",
				"defaultValue": "REPLACE_SYNAPSE_ANALYTICS_WORKSPACE_NAME.sql.azuresynapse.net"
			},
			"DatabaseName": {
				"type": "string",
				"defaultValue": "REPLACE_SYNAPSE_ANALYTICS_SQL_POOL_NAME"
			}
		},
		"annotations": [],
		"type": "AzureSqlDWTable",
		"schema": [],
        "typeProperties": {
            "schema": " ",
            "table": " "
        }
	}
}